* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1e3d59;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  background: lightblue;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left_side {
  position: relative;
  background-color: #003147;
  padding: 40px;
}
.container .right_side {
  position: relative;
  background-color: white;
  padding: 40px;
}
.container .right_side .about {
  margin-bottom: 50px;
}
.container .right_side .about:last-child {
  margin-bottom: 0;
}
.container .right_side .title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.profile_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.profile_text .image_container {
  width: 300px;
  text-align: center;
}
.profile_text .image_container img {
  width: 220px;
  height: auto;
}
.profile_text h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profile_text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contact_info {
  padding-top: 40px;
}
.contact_info ul {
  position: relative;
}
.contact_info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contact_info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: lightblue;
}
.contact_info ul li span {
  color: white;
  font-weight: 300;
}
.contact_info.education li {
  margin-bottom: 15px;
}
.contact_info.education h5 {
  color: lightblue;
  font-weight: 500;
}
.contact_info.education h4:nth-child(2) {
  color: white;
  font-weight: 500;
}
.contact_info.education h4 {
  color: white;
  font-weight: 500;
}
.contact_info.websites h5 {
  color: lightblue;
}

.title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

p {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.about {
  margin: 50px 0;
}
.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}
.about .box .name_details {
  font-size: 17px;
  min-width: 150px;
  font-weight: 700;
}
.about .box .text h4 {
  color: #2a7da2;
  font-size: 17px;
  font-weight: 700;
}

#download_button {
  position: fixed;
  width: 3.5rem;
  height: 3.5rem;
  bottom: 2rem;
  right: 3rem;
  border-radius: 50%;
  background-color: #ffee58;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#download_button i {
  color: #1e3d59;
}

.technologies ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.technologies ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .technologies ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
    align-items: flex-start;
  }

  .about .box .name_details {
    margin-bottom: 5px;
  }

  .technologies ul {
    grid-template-columns: repeat(1, 1fr);
  }
}