@import './config';
// @import './menu';
@import './newmenu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color); // custom function
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    // similar to h1.lg-heading
    text-align: center;
    font-size: 6rem;
  }
  &.sm-heading {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none; // to remove underline from link
}

header {
  position: fixed;
  z-index: 2; //to render the element above the element of zindex of 1
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        // equal to a:hover
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden; //to not have scrollbar
    h1 {
      margin-top: 20vh;
    }
  }
}

//about me
.about-info {
  display: grid;
  gap: 30px; // grid-gab is obselete
  grid-template-areas: 'bioimage bio bio';

  grid-template-columns: 1fr 1fr 1fr;

  .bio-image {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
}
.techstack {
  margin-top: 40px;
  background: lighten($primary-color, 5);
  padding: 1rem;
  width: 100%;
  text-align: center;
  .stackitem {
    margin-left: 30px;
    margin-right: 30px;
  }
}

//Work Projects
.projects {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  .item {
    width: 75%;

    .container {
      position: relative;

      .overlay {
        position: absolute;
        transition: all 0.3s ease;
        opacity: 0;
        background-color: $secondary-color;
      }
      .text {
        position: absolute;
        font-size: 1rem;
        padding: 0.5rem;
        color: set-text-color($secondary-color);
      }
      .overlay-fade {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }

      img {
        width: 100%;
        height: 250px;
        border: 3px #fff solid;
      }

      &:hover .overlayLeft {
        width: 100%;
      }
      &:hover .overlay {
        opacity: 1;
      }
    }

    .btn {
      display: block;
      text-align: center;
      align-items: center;
      padding: 0.5rem 1rem;
      border: 0;
      margin-bottom: 0.3rem;
      &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
      }
    }

    .btn-dark {
      @extend .btn; //inheritence in sass
      background: darken($primary-color, 50);
      color: #fff;
    }
    .btn-light {
      @extend .btn;
      background: lighten($primary-color, 50);
      color: #333;
    }
  }
}

//Contact Page
.boxes {
  display: block;
  margin-top: 1rem;
  text-align: center;

  div {
    margin: auto;
    width: 70%;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  width: 100%;
}

@import './mobile';
